/* CSS Document */
body,
h1,
ul,
li,
p {
  margin: 0;
  padding: 0;
}
body {
  background-color: #2aad33;
}
.menu-ust {
  background-color: black;
  height: 100px;
}
.menu-ust img {
  height: 100px;
  width: 100px;
  margin: 0px 200px;
}
.menu li {
  list-style-type: none;
  line-height: 60px;
  float: left;
  margin: 25px;
}
.menu ul a {
  text-decoration: none;
  color: white;
  font-weight: 900;
  display: block;
  text-align: center;
  transition: 1s;
  font-family: calibri, arial, verdana;
  font-size: 20px;
  width: 180px;
}
.menu a:hover {
  background-color: #2aad33;
  color: #005555;
}
img {
  float: left;
  width: 400px;
  margin: 25px;
}
.temizle {
  clear: both;
}

.yazi {
  float: left;
  width: 440px;
  margin: 60px 30px;
}
.yazi h1 {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    "DejaVu Sans", Verdana, "sans-serif";
  text-align: center;
  color: #005555;
}
.yazi p {
  font-family: Cambria, "Hoefler Text", "Liberation Serif", Times,
    "Times New Roman", "serif";
  text-align: justify;
}
.card {
  width: 300px;
  float: left;
  margin: 10px;
}
.card img {
  margin: auto;
  width: 300px;
  margin: 25px 0px;
}

.ust-sayfa {
  background-color: white;
  width: 960px;
  float: left;
  margin: 20px 280px;
  border-radius: 15px;
}
.alt-sayfa {
  background-color: white;
  width: 960px;
  float: left;
  margin: 5px 280px;
  border-radius: 15px;
}
.iletisim {
  background-color: white;
  width: 960px;
  float: left;
  margin: 100px 280px;
  border-radius: 15px;
}
